{% extends 'base.html' %}
{% block content %}
    {% if products %}
        {% for product in products %}
            <div>
                <h2>{{ product.name }}</h2>
                {% if product.thumbnail %}
                    <img src="{{ product.thumbnail.url }}" alt="{{ product.name }}">
                {% else %}
                    <p>Aucune image disponible</p>
                {% endif %}
                <a href="{{ product.get_absolute_url }}">Voir l'article</a>
            </div>
        {% endfor %}
    {% else %}
        <p>Aucun produit trouvé.</p>
    {% endif %}
    {% endblock %}